.country-container{
    text-align:center;
    margin: 20px 0;
}

.MuiNativeSelect-filled.MuiNativeSelect-filled {
    padding-right: 32px;
    padding-left: 1rem;
    background-color: rgba(161, 161, 182 , .7)
}
.MuiNativeSelect-select:not([multiple]) option, .MuiNativeSelect-select:not([multiple]) optgroup {
    background-color: #9494cac4!important;
}